@media (max-width: 768px) {
    .section__products {
        display: inherit;
        height: auto;
    }
    
    .section__products--item {
        margin-top: 415px;
    }

    .section__main {
        padding: 4px;
        margin-top: 115px;
    }

    .footer {
        width: 100%;
    }

    .secundary {
        display: inherit;
    }

    .mentions {
        display: inherit;
    }

    .section__container1,
    .section__container2,
    .section__container3 {
        display: inherit;
        justify-content: center;
    }

    .section img {
        width: 150px;
    }
}

