@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Variables */

:root{
    /* Colores */
    --green-color: #7ACC2D;
    --white-color: white;
    --black-color: #313337;

    /* Espaciado */
    --space-padding: 10px;
    --box: 0 0 2px;

    /* Tipografía */
    --font-family: 'Open Sans', sans-serif;
    --font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--green-color);
    /* margin-bottom: -80px; */
}

nav a {
    text-decoration: none;
    color: var(--black-color);
}

nav a:hover {
    color: var(--white-color);
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav ul {
    display: flex;
}

.section__main {
    padding: 15%;
    text-align: center;
}

.section__products {
    background-image: url("../img/curve.png");
    /* max-height: 50px; */
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
    margin-top: -50px;
}

.container__products--item{
    padding: var(--space-padding);
    margin-top: -400px;
}

.section__products--item .container__products--item {
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: var(--box) var(--black-color);
    margin-right: 20px;
}

.container__products--img {
    text-align: center;
}

.main__button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space-padding);
    font-size: 17px;
    color: var(--white-color);
    justify-content: center;
    border: 0;
    border-radius: 2px;
}

.main__button:hover {
    background-color: var(--green-color);
    cursor: pointer;
}

/* --- Section secundary --- */

.secundary {
    display: grid;
    margin: 50px auto;
    max-width: 100%;
    margin-top: 150px;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 100px 200px;
    gap: 10px 16px;
    border-bottom: 1px solid gray;
    margin-bottom: 100px;
    grid-template-areas: "img img img"
                        "info info info";
}

.secundary__img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.secundary__img img {
    width: 100px;
}

.secundary__info {
    grid-area: info;
}

.secundary__info h3 {
    display: flex;
    justify-content: center;
}

/* --- Section mentions */

.mentions {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: 330px;
    gap: 20px 15px;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
    grid-template-areas: "img img img img"
                        "info info info info";
}

.mentions__img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mentions__img img {
    
}

.mentions__info {
    grid-area: info;
    padding: 5px 20px;
}

.mentions__title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.mentions__container {
    box-shadow: var(--box) var(--black-color);
    justify-content: center;
    align-items: flex-start;
}

.footer {
    background-color: #313337;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer a{
    color: var(--white-color);
    text-decoration: none;
}

.footer li {
    list-style: none;
}

.footer__info {
    width: 100%;
}

.footer__info ol{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer__info a {
    margin-right: 40px;
}

/*------------------------- Form --------------------------*/ 

body {
    margin: 0;
    font-size: 16px;
}

.form__container {
    display: grid;
    grid-template: 290px / 350px 390px;
    height: 59.5vh;
    gap: 15px;
    grid-template-areas: "product form";
    margin-top: 175px;
}

.form__product {
    grid-area: product;
    box-shadow: 0 0 2px gray;
}


.form__product img {
    width: 100px;
    margin-left: 30%;
}

.form__product--info {
    margin: 0 15px;
}

.form__product--info p {
    font-size: .9em;
}

.form__data {
    grid-area: form;
    display: inherit;
    align-items: flex-start;
    height: 110%;
}

.form {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form__data {
    box-shadow: 0 0 2px gray;
}

.form__data p {
    margin-bottom: 0;
}

.form__data label {
    padding: 10px 0px 0px 0px;
    height: 30px;
}

.form__data label p {
    margin: 5px 15px;
}

.data__input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 0 15px 10px;
}

.form__data--input {
    width: 92%;
    height: 40px;
    background-color: #7ACC2D;
    color: white;
    border-radius: 5px;
    border: 1px solid #7ACC2D;
    margin: 10px 15px;
    cursor: pointer;
}

.form__data--input:hover {
    background-color: #006600;
}